<head>
  <title>Page Title</title>
</head>
<body style="background-color: #999999">
<h1>Controlador</h1>
<%= render "nuevos/encabezado" %>
<p style="font-size: 30px"> Hola <%= @mensaje %> </p>
<a href="https://www.chill-supplies.com">ir a chill</a>
<%= render "nuevos/partial" %>
<%= render "nuevos/partial" %>
<%= image_tag "imagen1.jpg"%>
</body>